@font-face {
  font-family: 'Icomoon';
  src: url('../fonts/Icomoon.eot');
  src: url('../fonts/Icomoon.eot?#iefix') format('embedded-opentype'), url('../fonts/Icomoon.ttf') format('truetype'), url('../fonts/Icomoon.woff') format('woff'), url('../fonts/Icomoon.svg#Icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

.icon-reorder,
.icon-caret-down {
  font-family: 'Icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-reorder:before {
  content: "\e600";
}

.icon-caret-down:before {
  content: "\e601";
}

.navbar {
  font-size: 14px;
}

.navbar ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.navbar-list {
  bottom: 0;
  left: -200px;
  min-width: 195px;
  position: absolute;
  top: 0;
}

.no-js .navbar-list {
  left: auto;
  position: relative;
}

@media (min-width: 630px) {
  .navbar-list {
    display: table;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    left: auto;
    position: relative;
    width: 100%;
  }
}

@media (min-width: 630px) {
  .navbar-item {
    display: table-cell;
    -webkit-box-flex: auto;
    -webkit-flex: auto;
    -ms-flex: auto;
    flex: auto;
  }

  .no-display-table .navbar-item {
    float: left;
  }
}

.navbar-link {
  cursor: pointer;
  display: block;
  font-weight: bold;
  line-height: 36px;
  min-height: 36px;
  padding-left: 16px;
  padding-right: 16px;
  position: relative;
  text-decoration: none;
  -webkit-transition: 200ms;
  transition: 200ms;
}

:hover > .navbar-link,
.navbar-link:hover {
  background-color: #444;
  color: #fff;
  -webkit-transition: 100ms;
  transition: 100ms;
}

@media (min-width: 630px) {
  .navbar-link {
    padding-left: 0;
    padding-right: 0;
    text-align: center;
  }

  .no-display-table .navbar-link {
    padding-left: 16px;
    padding-right: 16px;
  }
}

.navbar-label {
  cursor: pointer;
  line-height: 1.4;
}

.navbar-label .icon-reorder:before {
  float: left;
  line-height: 1.4;
  padding-right: 10px;
}

.no-js .navbar-label {
  display: none;
}

@media (min-width: 630px) {
  .navbar-label {
    display: none;
  }
}

html {
  min-height: 100%;
  min-width: 100%;
  position: absolute;
  -webkit-transition: left 200ms;
  transition: left 200ms;
}

html.nav-visible {
  left: 200px;
}

.navbar-menu {
  background: #fff;
  background: rgba(255, 255, 255, 0.97);
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  display: none;
  font-size: 12.6px;
  padding-top: 24px;
  padding-bottom: 24px;
  position: relative;
}

@media (min-width: 630px) {
  .navbar-menu {
    border: 1px solid #000;
    -webkit-box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.4);
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.4);
    display: table;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    opacity: 0;
    min-width: 160px;
    position: absolute;
    -webkit-transition: opacity 300ms linear, visibility 0 linear 300ms;
    transition: opacity 300ms linear, visibility 0 linear 300ms;
    visibility: hidden;
    z-index: 100;
  }
}

:hover > .navbar-menu {
  display: block;
}

@media (min-width: 630px) {
  :hover > .navbar-menu {
    display: table;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    opacity: 1;
    padding-top: 0;
    padding-bottom: 0;
    -webkit-transition: opacity 150ms linear;
    transition: opacity 150ms linear;
    visibility: visible;
  }
}

@media (min-width: 630px) {
  .navbar-menu .navbar-menu-group {
    display: table-cell;
    -webkit-box-flex: auto;
    -webkit-flex: auto;
    -ms-flex: auto;
    flex: auto;
    padding: 0 24px;
  }

  .no-display-table .navbar-menu .navbar-menu-group {
    float: left;
    max-width: 33%;
  }
}

@media (min-width: 630px) {
  .navbar-menu.mega {
    left: 0;
    right: 0;
    width: 100%;
  }
}

.navbar-menu h2 {
  font-size: 16.8px;
  margin: 0 0 8px;
}

.navbar-menu ul {
  color: #777;
}

.navbar-menu li {
  margin-bottom: 4px;
  position: relative;
}

.navbar-menu a {
  text-decoration: none;
}

.navbar-menu a:hover {
  text-decoration: underline;
}

@media (min-width: 630px) {
  .menu-align-right {
    position: relative;
  }

  .menu-align-right .navbar-menu {
    left: auto;
    right: 0;
  }
}

.navbar-theme-dark .navbar-list {
  background-color: #666666;
  background-image: -webkit-gradient(linear, top left, bottom left, from(rgba(0, 0, 0, 0)), to(rgba(0, 0, 0, 0.3)));
  background-image: -webkit-linear-gradient(rgba(0, 0, 0, 0) 10%, rgba(0, 0, 0, 0.3));
  background-image: linear-gradient(rgba(0, 0, 0, 0) 10%, rgba(0, 0, 0, 0.3));
  -webkit-box-shadow: 0 0 8px rgba(0, 0, 0, 0.3);
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.3);
}

.navbar-theme-dark .navbar-link {
  border-style: solid;
  border-width: 1px 0;
  border-bottom-color: #474747;
  border-top-color: #757575;
  color: #ffffff;
  font-weight: normal;
  line-height: 40px;
  min-height: 40px;
  text-shadow: -1px -1px 1px rgba(0, 0, 0, 0.4);
}

@media (min-width: 630px) {
  .navbar-theme-dark .navbar-link {
    border-width: 0px 1px;
    border-left-color: #777777;
    border-right-color: #333333;
  }
}

.navbar-theme-dark .navbar-item:first-child > .navbar-link {
  border-left: 0;
}

.navbar-theme-dark .navbar-item:last-child > .navbar-link {
  border-right: 0;
}

.navbar-theme-dark .navbar-item:hover > .navbar-link,
.navbar-theme-dark .navbar-link:hover {
  background-color: #444444;
  background-image: -webkit-radial-gradient(center 120px, ellipse cover, rgba(255, 255, 255, 0.1) 40%, rgba(255, 255, 255, 0.08) 50%, transparent 80%);
  background-image: radial-gradient(center 120px, ellipse cover, rgba(255, 255, 255, 0.1) 40%, rgba(255, 255, 255, 0.08) 50%, transparent 80%);
  -webkit-box-shadow: inset 0 2px 6px rgba(0, 0, 0, 0.3);
  box-shadow: inset 0 2px 6px rgba(0, 0, 0, 0.3);
  color: #ffffff;
}

.navbar-theme-dark .navbar-menu {
  border-color: #4d4d4d;
  border-width: 0 1px;
  padding: 24px 0;
}

@media (min-width: 630px) {
  .navbar-theme-dark .navbar-menu {
    border-width: 6px 4px 4px;
  }
}

@media (min-width: 630px) {
  .navbar-theme-dark .navbar-menu.mega {
    border-width: 6px 1px 1px;
  }
}

.navbar-theme-dark .navbar-menu ul {
  list-style: square;
  padding-left: 18px;
}

.navbar-theme-dark .navbar-menu a {
  color: #666;
}

.navbar-theme-dark .navbar-menu a:hover {
  color: #333;
}