@import "variables";

.navtacular-menu {
    background: #fff;
    background: rgba(255,255,255,0.97);
    box-sizing: border-box;
    display: none;
    font-size: (@baseFontSize * 0.9);
    padding: 24px 8px;
    position: relative;

    @media (min-width: @mqBreakpoint) {
        border: 1px solid #000;
        box-shadow: 1px 1px 10px rgba(0,0,0,0.4);
        display: block;
        display: table;
        opacity: 0;
        min-width: 160px;
        position: absolute;
        transition: opacity 300ms linear, visibility 0 linear 300ms;
        visibility: hidden;
        z-index: 100;

        .flexbox &,
        .flexboxlegacy & {
            display: flex;
        }
    }

    // when the parent `li` is hovered, transition the menu
    :hover > &,
    :focus > &,
    .focus > & {
        .no-js & {
            display: block;
        }

        @media (min-width: @mqBreakpoint) {
            display: table;
            opacity: 1;
            transition: opacity 150ms linear;
            visibility: visible;

            .flexbox &,
            .flexboxlegacy & {
                display: flex;
            }
            .no-display-table & {
                display: block;
            }
        }
    }

    .navtacular-menu-group {
        @media (min-width: @mqBreakpoint) {
            display: table-cell;
            padding: 0 24px;

            .flexbox &,
            .flexboxlegacy & {
                -webkit-box-flex: 1; // Old Safari needs this
                flex: auto;
            }

            .no-display-table & {
                float: left;
                max-width: 33%;
            }
        }
    }

    &.mega {
        @media (min-width: @mqBreakpoint) {
            left: 0;
            right: 0;
            width: 100%;

            .flexbox &,
            .flexboxlegacy & {
                // if we're not using display:table, there's no need to set a width,
                // and the width causes less than desirable situations elsewhere...
                // (see a theme with a border-radius for details)
                width: auto;
            }
        }
    }

    h2 {
        font-size: (@baseFontSize * 1.2);
        margin: 0 0 8px;
    }

    ul {
        color: #777;
    }

    li {
        position: relative;
    }

    a {
        display: block;
        text-decoration: none;

        &:hover,
        &:focus {
            text-decoration: underline;
        }
    }
}

// on large screens, when the parent `li` is
// set to align the menu to the right, do it
@media (min-width: @mqBreakpoint) {
    .menu-align-right {
        position: relative;

        .navtacular-menu {
            left: auto;
            right: 0;
        }
    }
}
