@mqBreakpoint: 630px;

.navbar-menu {
    background: #fff;
    background: rgba(255,255,255,0.97);
    border-color: #000;
    border-style: solid;
    border-width: 0 1px;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    display: none;
    font-size: 13px;
    position: relative;

    @media (min-width: @mqBreakpoint) {
        border-width: 6px 2px 2px;
        -webkit-box-shadow: 1px 1px 10px rgba(0,0,0,0.4);
        box-shadow: 1px 1px 10px rgba(0,0,0,0.4);
        opacity: 0;
        min-width: 160px;
        position: absolute;
        -webkit-transition: opacity 300ms linear, visibility 0 linear 300ms;
        transition: opacity 300ms linear, visibility 0 linear 300ms;
        visibility: hidden;
        z-index: 100;
    }

    .navbar-menu-group {
        @media (min-width: @mqBreakpoint) {
            float: left;
            padding: 0 24px;   
        }
    }

    &.mega {
        @media (min-width: @mqBreakpoint) {
            border-width: 6px 1px 1px;
            left: 0;
            right: 0;
        }


        .navbar-menu-group {
            @media (min-width @mqBreakpoint) {
                // replace this with box-sizing and display:table
                margin: 0 2%;
                width: 29%;
            }
        }
    }

    h2 {
        font-size: 17px;
        line-height: 20px;
        margin: 0 0 8px;
    }
    ul {
        color: #777;
        list-style: none;
        margin: 0;
        padding: 0;

        li {
            margin-bottom: 4px;
            position: relative;

            > a {
                text-decoration: none;
                &:hover {
                    text-decoration: underline;
                }
            }

        }
    }

    // when the parent `li` is hovered, transition the menu
    :hover > & {
        display: block;
        padding-top: 24px;
        padding-bottom: 24px;

        @media (min-width: @mqBreakpoint) {
            opacity: 1;
            padding-top: 0;
            padding-bottom: 0;
            -webkit-transition: opacity 150ms linear;
            transition: opacity 150ms linear;
            visibility: visible;
        }
    }
}

// on large screens, when the parent `li` is
// set to align the menu to the right, do it
@media (min-width: @mqBreakpoint) {
    .menu-align-right {
        position: relative;

        .navbar-menu {
            left: auto;
            right: 0;
        }
    }
}
