@media only screen and (max-width: 630px) {
    .flexbox &.full-width > ul {
        display: block;

        > li > a {
            padding-left: 16px;
        }
    }
    > ul {
        > li {
            float: none;

            > a {
                border: 0;
                font-size: 16px;
                line-height: 40px;
                text-align: left;
            }
            &:last-child, &.last-child {
                > a:after {
                    border: 0;
                }
            }
        }
    }
}