ul.navbar {
    background: #eee;
    font-size: 14px;
    height: 36px;
    list-style: none;
    margin: 0;
    padding: 0;
    position: relative;

    .flexbox-legacy &.full-width {
        display: box;
        width: 100%; // Firefox doesn't stretch the flexbox without this

        > li {
            box-flex: 1;
            > a {
                padding-left: 0;
                padding-right: 0;
            }
            &:last-child > a {
                border-right: 0;
                &:after {
                    border-left: 0;
                }
            }
        }
    }

    > li {
        float: left;

        > a {
            border-left: 1px solid #000;
            border-right: 1px solid #000;
            cursor: pointer;
            display: block;
            font-weight: bold;
            line-height: 36px;
            padding: 0 16px;
            position: relative;
            text-align: center;
            text-decoration: none;
            transition: all 200ms;
            zoom: 1; // fix a line-height bug related to hasLayout in IE7
        }

        &:first-child > a {
            border-left: 0;
        }

        &:last-child, &.last-child {
            > a:after {
                border-left: 1px solid #000;
                content: "";
                height: 36px;
                position: absolute;
                right: -2px;
                top: 0;
            }
        }

        &:hover > a, > a:hover {
            background-color: #444;
            color: #fff;
            transition: all 100ms;
        }

        &:hover {
            > div.menu {
                transition: opacity 150ms linear;
                visibility: visible;

                .csstransitions & {
                    opacity: 1;
                }
            }
        }

        &.menu-align-right {
            position: relative;
            > div.menu {
                left: auto;
                right: 0;
            }
        }

        > div.menu {
            background: rgba(255,255,255,0.97);
            border: 2px solid #000;
            border-top-width: 6px;
            box-shadow: 1px 1px 10px rgba(0,0,0,0.4);
            font-size: 13px;
            min-width: 200px;
            padding: 24px;
            position: absolute;
            transition: opacity 300ms linear, visibility 0 linear 300ms;
            visibility: hidden;
            z-index: 100;

            .no-rgba & {
                background-image: url('../images/w97.png');
            }
            .csstransitions & {
                // Prefixr adds the MS filter property, which breaks menus in IE
                // So I wrapped it in a Modernizr check, causing IE to ignore it
                // IE10 supports CSS transitions, so this will break
                opacity: 0;
            }
            &.cols {
                .section {
                    float: left;
                    padding-left: 24px;
                    &:first-child {
                        padding-left: 0;
                    }
                }
            }
            &.wide {
                border-width: 6px 1px 1px;
                left: 0;
                right: 0;

                .section {
                    float: left;
                    margin: 0 2%;
                    width: 29%;
                    &.continued {
                        padding-top: 28px;
                    }
                }
            }
            h2 {
                font-size: 17px;
                line-height: 20px;
                margin: 0 0 8px;
            }
            ul {
                list-style: none;
                margin: 0;
                padding: 0;

                li {
                    background: transparent url('../images/bullet-nav.png') no-repeat 0 6px;
                    margin-bottom: 4px;
                    padding-left: 14px;

                    a {
                        text-decoration: none;
                        &:hover {
                            text-decoration: underline;
                        }
                    }
                }
            }
        }
    }
}

// Import comon mixins used by all themes
@import "themes/common";

// Import the four basic themes
@import "themes/green";
@import "themes/tan";
@import "themes/light";
@import "themes/dark";

@import "mobile";
