@import "variables";

.navtacular {
    font-size: @baseFontSize;

    // a helper class for ULs inside the navbar
    ul {
        list-style: none;
        margin: 0;
        padding: 0;
    }
}
.navtacular-list {
    left: -200px;
    min-height: 100%;
    width: 200px; // Ugly, but there's an issue where the menus go too wide
    position: absolute;
    top: 0;

    .no-js & {
        left: auto;
        position: relative;
    }

    @media (min-width: @mqBreakpoint) {
        display: table;
        left: auto;
        position: relative;
        width: 100%;

        .flexbox &,
        .flexboxlegacy & {
            display: flex;
        }
    }
}
.navtacular-item {
    @media (min-width: @mqBreakpoint) {
        display: table-cell;

        .flexbox &,
        .flexboxlegacy & {
            display: inline-block; // fixes firefox & IE10 bug
            -webkit-box-flex: 1; // for iOS Safari 6
            flex: auto;
        }
        .no-display-table & {
            float: left;
        }
    }
}
.navtacular-link {
    cursor: pointer;
    display: block;
    font-weight: bold;
    line-height: @navHeight;
    // fix a line-height bug related to hasLayout in IE7
    min-height: @navHeight;
    padding-left: 16px;
    padding-right: 16px;
    position: relative;
    text-decoration: none;
    transition: 200ms;

    // when the parent is hovered, or when the a is hovered
    :hover > &,
    .focus > &,
    &:hover,
    &:focus {
        background-color: #444;
        color: #fff;
        outline: none;
        text-decoration: none;
        transition: 100ms;
    }

    @media (min-width: @mqBreakpoint) {
        padding-left: 0;
        padding-right: 0;
        text-align: center;

        .no-display-table & {
            padding-left: 16px;
            padding-right: 16px;
        }
    }

    .icon-caret-down {
        color: #999;
        line-height: @navHeight;
        position: absolute;
        right: 15px;
        top: 4px;

        @media (min-width: @mqBreakpoint) {
            display: none;
        }
    }
}

.navtacular-label {
    cursor: pointer;
    font-size: (@baseFontSize * 1.5);
    line-height: 1.4;
    margin: 8px 0;
    min-height: @navHeight;
    overflow: hidden; // clearfix
    padding: 8px 15px;

    .icon-reorder:before {
        float: left; // to help with vertical centering...
        line-height: 1.4;
        padding-right: 10px;
    }

    .no-js & {
        display: none;
    }

    @media (min-width: @mqBreakpoint) {
        // The nav section label can be hidden in the full desktop view
        display: none;
    }
}

.navtacular-cover {
    background: rgba(0, 0, 0, 0.25);
    height: 0;
    opacity: 0;
    position: absolute;
    transition: opacity 400ms, height 0 400ms, width 0 400ms;
    width: 0;
    z-index: 9999;

    .nav-visible & {
        height: 100%;
        left: 0;
        opacity: 1;
        right: 0;
        top: 0;
        transition: opacity 350ms;
        width: 100%;
        z-index: 999;

        @media (min-width: @mqBreakpoint) {
            height: 0;
            opacity: 0;
            width: 0;
        }
    }
}

.navtacular-parent {
    box-sizing: border-box;
    left: 0;
    min-height: 100%;
    position: absolute;
    -webkit-transition: left 300ms;
    transition: left 300ms;
    width: 100%; // Keep page from shrinking when mobile menu slides out

    .nav-visible & {
        left: 200px;

        @media (min-width: @mqBreakpoint) {
            left: 0;
        }
    }
}

html {
    min-height: 100%;

    &.nav-visible {
        overflow-x: hidden; // Kills animation in Firefox for some reason
    }
}


// Import the drop-down menu system
@import "menu";

// Import the basic themes
@import "themes/dark";
@import "themes/tan";
@import "themes/simple";
@import "themes/blue";