@navHeight: 36px;

.navbar {
    font-size: 14px;
}
.navbar-list {
    min-height:  @navHeight;
    list-style: none;
    margin: 0;
    padding: 0;
    position: relative;
}
.navbar-item {
    float: left;

    @media (max-width: 630px) {
        float: none;
    }
}
.navbar-link {
    border-left: 1px solid;
    border-right: 1px solid;
    cursor: pointer;
    display: block;
    font-weight: bold;
    line-height: @navHeight;
    // fix a line-height bug related to hasLayout in IE7
    min-height: @navHeight;
    padding: 0 16px;
    position: relative;
    text-decoration: none;
    -webkit-transition: 200ms;
    transition: 200ms;

    :first-child > & {
        border-left: 0;
    }
    :last-child > &:after {
        border-left: 1px solid;
        content: "";
        min-height: @navHeight;
        position: absolute;
        right: -2px;
        top: 0;
        @media (max-width: 630px) {
            border-left: 0;
        }
    }
    // when the parent is hovered, or when the a is hovered
    :hover > &,
    &:hover {
        background-color: #444;
        color: #fff;
        -webkit-transition: 100ms;
        transition: 100ms;
    }

    @media (max-width: 630px) {
        border: 0;
        font-size: 16px;
        line-height: 40px;
        text-align: left;
    }
}
.flexbox &.full-width {
    .navbar-list {
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;

        @media (max-width: 630px) {
            display: block;
        }
    }

    .navbar-item {
        -webkit-flex: 1 1 auto;
        -ms-flex: 1 1 auto;
        flex: 1 1 auto;
    }

    .navbar-link {
        padding-left: 0;
        padding-right: 0;

        :last-child > & {
            border-right: 0;
        }
        :last-child > &:after {
            border-left: 0;
        }

        @media (max-width: 630px) {
            padding-left: 16px;
        }
    }
}

.navbar-label {
    @media (min-width: 630px) {
        // The nav section label can be hidden in the full desktop view
        display: none;
    }
}


// Import the drop-down menu system
@import "menu";

// Import common theme mixins
@import "themes/common";

// Import the basic themes
@import "themes/dark";
@import "themes/tan";
