ul.dept-navbar {
  background: #eeeeee;
  font-size: 14px;
  height: 36px;
  list-style: none;
  margin: 0;
  padding: 0;
  position: relative;
}

.flexbox-legacy ul.dept-navbar.full-width {
  display: -webkit-box;
  display: -moz-box;
  display: box;
  width: 100%;
}

.flexbox-legacy ul.dept-navbar.full-width > li {
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  -ms-box-flex: 1;
  box-flex: 1;
}

.flexbox-legacy ul.dept-navbar.full-width > li > a {
  padding-left: 0;
  padding-right: 0;
}

.flexbox-legacy ul.dept-navbar.full-width > li:last-child > a {
  border-right: 0;
}

.flexbox-legacy ul.dept-navbar.full-width > li:last-child > a:after {
  border-left: 0;
}

ul.dept-navbar > li {
  float: left;
  height: 36px;
}

ul.dept-navbar > li > a {
  border-left: 1px solid black;
  border-right: 1px solid black;
  cursor: pointer;
  display: block;
  font-weight: bold;
  line-height: 16px;
  padding: 10px 18px 10px 17px;
  position: relative;
  text-align: center;
  text-decoration: none;

  -webkit-transition: all 200ms;
  -moz-transition: all 200ms;
  -o-transition: all 200ms;
  -ms-transition: all 200ms;
  transition: all 200ms;
}

ul.dept-navbar > li:first-child > a {
  border-left: 0;
}

ul.dept-navbar > li:last-child > a:after,ul.dept-navbar > li.last-child > a:after {
  border-left: 1px solid black;
  content: "";
  height: 36px;
  position: absolute;
  right: -2px;
  top: 0;
}

ul.dept-navbar > li:hover > a,ul.dept-navbar > li > a:hover {
  background-color: #444444;
  color: white;

  -webkit-transition: all 100ms;
  -moz-transition: all 100ms;
  -o-transition: all 100ms;
  -ms-transition: all 100ms;
  transition: all 100ms;
}

ul.dept-navbar > li.menu-align-right {
  position: relative;
}

ul.dept-navbar > li.menu-align-right > div.menu {
  left: auto;
  right: 0;
}

ul.dept-navbar > li > div.menu {
  background: rgba(255, 255, 255, 0.97);
  border: 2px solid black;
  border-top-width: 6px;

  -webkit-box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.4);
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.4);
  font-size: 13px;
  min-width: 200px;
  padding: 24px;
  position: absolute;

  -webkit-transition: opacity 300ms linear, visibility 0 linear 300ms;
  -moz-transition: opacity 300ms linear, visibility 0 linear 300ms;
  -o-transition: opacity 300ms linear, visibility 0 linear 300ms;
  -ms-transition: opacity 300ms linear, visibility 0 linear 300ms;
  transition: opacity 300ms linear, visibility 0 linear 300ms;
  visibility: hidden;
  z-index: 100;
}

.no-rgba ul.dept-navbar > li > div.menu {
  background-image: url('../images/w97.png');
}

.csstransitions ul.dept-navbar > li > div.menu {
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
  opacity: 0;
}

ul.dept-navbar > li > div.menu.cols .section {
  float: left;
  padding-left: 24px;
}

ul.dept-navbar > li > div.menu.cols .section:first-child {
  padding-left: 0;
}

ul.dept-navbar > li > div.menu.wide {
  border-width: 6px 1px 1px;
  left: 0;
  right: 0;
}

ul.dept-navbar > li > div.menu.wide .section {
  float: left;
  margin: 0 2%;
  width: 29%;
}

ul.dept-navbar > li > div.menu.wide .section.continued {
  padding-top: 28px;
}

ul.dept-navbar > li > div.menu h2 {
  font-size: 17px;
  line-height: 20px;
  margin: 0 0 8px;
}

ul.dept-navbar > li > div.menu ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

ul.dept-navbar > li > div.menu ul li {
  background: transparent url('../images/bullet-nav.png') no-repeat 0 6px;
  margin-bottom: 4px;
  padding-left: 14px;
}

ul.dept-navbar > li > div.menu ul li a {
  text-decoration: none;
}

ul.dept-navbar > li > div.menu ul li a:hover {
  text-decoration: underline;
}

ul.dept-navbar > li:hover .menu {
  -webkit-transition: opacity 150ms linear;
  -moz-transition: opacity 150ms linear;
  -o-transition: opacity 150ms linear;
  -ms-transition: opacity 150ms linear;
  transition: opacity 150ms linear;
  visibility: visible;
}

.csstransitions ul.dept-navbar > li:hover .menu {
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  filter: alpha(opacity=100);
  opacity: 1;
}

ul.dept-navbar.green {
  background: #06765f;
  background-image: url('../images/bg-nav.png');

  background-image: -webkit-linear-gradient(transparent 10%, rgba(0, 0, 0, 0.3));
  background-image: -moz-linear-gradient(transparent 10%, rgba(0, 0, 0, 0.3));
  background-image: -o-linear-gradient(transparent 10%, rgba(0, 0, 0, 0.3));
  background-image: -ms-linear-gradient(transparent 10%, rgba(0, 0, 0, 0.3));
  background-image: linear-gradient(transparent 10%, rgba(0, 0, 0, 0.3));
  border-radius: 8px;

  -webkit-box-shadow: 0 0 8px rgba(0, 0, 0, 0.3);
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.3);
}

.flexbox-legacy ul.dept-navbar.green.full-width > li:last-child > a {
  border-radius: 0 8px 8px 0;
}

ul.dept-navbar.green > li:first-child > a {
  border-radius: 8px 0 0 8px;
}

ul.dept-navbar.green > li > a {
  border-left-color: #0b8b70;
  border-right-color: #033c30;
  color: white;
  text-shadow: -1px -1px 1px rgba(0, 0, 0, 0.4);
}

ul.dept-navbar.green > li:last-child > a:after,ul.dept-navbar.green > li.last-child > a:after {
  border-left-color: #0b8b70;
}

ul.dept-navbar.green > li:hover > a,ul.dept-navbar.green > li > a:hover {
  background-color: #044a3c;
  background-image: url('../images/bg-selected.png');

  background-image: -webkit-radial-gradient(center 120px, ellipse cover, rgba(255, 255, 255, 0.1) 40%, rgba(255, 255, 255, 0.08) 50%, transparent 80%);
  background-image: -moz-radial-gradient(center 120px, ellipse cover, rgba(255, 255, 255, 0.1) 40%, rgba(255, 255, 255, 0.08) 50%, transparent 80%);
  background-image: -o-radial-gradient(center 120px, ellipse cover, rgba(255, 255, 255, 0.1) 40%, rgba(255, 255, 255, 0.08) 50%, transparent 80%);
  background-image: -ms-radial-gradient(center 120px, ellipse cover, rgba(255, 255, 255, 0.1) 40%, rgba(255, 255, 255, 0.08) 50%, transparent 80%);
  background-image: radial-gradient(center 120px, ellipse cover, rgba(255, 255, 255, 0.1) 40%, rgba(255, 255, 255, 0.08) 50%, transparent 80%);

  -webkit-box-shadow: inset 0 2px 6px rgba(0, 0, 0, 0.3);
  box-shadow: inset 0 2px 6px rgba(0, 0, 0, 0.3);
}

ul.dept-navbar.green > li > div.menu {
  border-color: #044a3c;
}

ul.dept-navbar.green > li > div.menu.wide {
  left: 8px;
  right: 8px;
}

ul.dept-navbar.green > li > div.menu ul li a {
  color: #666666;
}

ul.dept-navbar.green > li > div.menu ul li a:hover {
  color: #333333;
}

@media only screen and (max-width: 600px) {
  ul.dept-navbar.green > li:first-child > a {
  border-radius: 8px 8px 0 0;
}

ul.dept-navbar.green > li:last-child > a {
  border-radius: 0 0 8px 8px;
}

ul.dept-navbar.green > li > div.menu.wide {
  left: 0;
  right: 0;
}

}

ul.dept-navbar.tan {
  background: #faf2e0;
  border-bottom: 1px solid #00684d;
}

ul.dept-navbar.tan > li {
  border-right: 1px solid white;
}

ul.dept-navbar.tan > li > a {
  border: 0;
  border-radius: 8px 8px 0 0;
  color: #00563c;
  text-shadow: 1px 1px 1px white;
}

ul.dept-navbar.tan > li:last-child > a:after,ul.dept-navbar.tan > li.last-child > a:after {
  border-left: 0;
}

ul.dept-navbar.tan > li:hover > a,ul.dept-navbar.tan > li > a:hover {
  background-color: #004934;
  color: white;
  text-shadow: none;
}

ul.dept-navbar.tan > li > div.menu {
  background: rgba(0, 57, 41, 0.94);
  border: 0;
  border-top: 4px solid #a29664;
  border-radius: 0 0 8px 8px;
  color: white;
  padding: 0;
}

.no-rgba ul.dept-navbar.tan > li > div.menu {
  background-image: url('../images/g94.png');
}

ul.dept-navbar.tan > li > div.menu h2 {
  background: black;
  color: white;
  font-size: 14px;
  line-height: 16px;
  margin: 0;
  padding: 7px;
  text-align: center;
}

ul.dept-navbar.tan > li > div.menu li {
  background: transparent;
  margin: 0;
  padding: 0;
}

ul.dept-navbar.tan > li > div.menu li a {
  color: #f2ead7;
  display: block;
  padding: 7px;
}

ul.dept-navbar.tan > li > div.menu li a:hover {
  background: white;

  background-image: -webkit-linear-gradient(white, #faf2e0);
  background-image: -moz-linear-gradient(white, #faf2e0);
  background-image: -o-linear-gradient(white, #faf2e0);
  background-image: -ms-linear-gradient(white, #faf2e0);
  background-image: linear-gradient(white, #faf2e0);
  color: #333333;
  text-decoration: none;
}

@media only screen and (max-width: 600px) {
  ul.dept-navbar.tan > li > a {
  border-radius: 0;
}

ul.dept-navbar.tan > li > div.menu {
  border-radius: 0;
}

ul.dept-navbar.tan > li > div.menu.cols .section,ul.dept-navbar.tan > li > div.menu.wide .section {
  margin: 0;
}

}

ul.dept-navbar.light {
  background: #f6f6f6;
  background-image: url('../images/bg-nav.png');

  background-image: -webkit-linear-gradient(transparent 10%, rgba(0, 0, 0, 0.15));
  background-image: -moz-linear-gradient(transparent 10%, rgba(0, 0, 0, 0.15));
  background-image: -o-linear-gradient(transparent 10%, rgba(0, 0, 0, 0.15));
  background-image: -ms-linear-gradient(transparent 10%, rgba(0, 0, 0, 0.15));
  background-image: linear-gradient(transparent 10%, rgba(0, 0, 0, 0.15));
  border-radius: 4px;

  -webkit-box-shadow: 0 0 4px rgba(0, 0, 0, 0.25);
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.25);
}

.flexbox-legacy ul.dept-navbar.light.full-width > li:last-child > a {
  border-radius: 0 4px 4px 0;
}

ul.dept-navbar.light > li:first-child > a {
  border-radius: 4px 0 0 4px;
}

ul.dept-navbar.light > li > a {
  border-left-color: #fafafa;
  border-right-color: #bbbbbb;
  color: #00684d;
  text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.5);
}

ul.dept-navbar.light > li:last-child > a:after,ul.dept-navbar.light > li.last-child > a:after {
  border-left-color: #fafafa;
}

ul.dept-navbar.light > li:hover > a,ul.dept-navbar.light > li > a:hover {
  background-color: #888888;
  background-image: url('../images/bg-selected.png');

  background-image: -webkit-radial-gradient(center 120px, ellipse cover, rgba(255, 255, 255, 0.1) 40%, rgba(255, 255, 255, 0.08) 50%, transparent 80%);
  background-image: -moz-radial-gradient(center 120px, ellipse cover, rgba(255, 255, 255, 0.1) 40%, rgba(255, 255, 255, 0.08) 50%, transparent 80%);
  background-image: -o-radial-gradient(center 120px, ellipse cover, rgba(255, 255, 255, 0.1) 40%, rgba(255, 255, 255, 0.08) 50%, transparent 80%);
  background-image: -ms-radial-gradient(center 120px, ellipse cover, rgba(255, 255, 255, 0.1) 40%, rgba(255, 255, 255, 0.08) 50%, transparent 80%);
  background-image: radial-gradient(center 120px, ellipse cover, rgba(255, 255, 255, 0.1) 40%, rgba(255, 255, 255, 0.08) 50%, transparent 80%);

  -webkit-box-shadow: inset 0 2px 6px rgba(0, 0, 0, 0.3);
  box-shadow: inset 0 2px 6px rgba(0, 0, 0, 0.3);
  color: white;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}

ul.dept-navbar.light > li > div.menu {
  background: #e4e4e4;
  border-color: #bbbbbb;
  border-width: 2px 1px 1px;
  padding: 0;
}

ul.dept-navbar.light > li > div.menu.wide {
  left: 4px;
  right: 4px;
}

ul.dept-navbar.light > li > div.menu h2 {
  border-bottom: 1px solid #aaaaaa;
  margin: 7px;
  padding: 0;
}

ul.dept-navbar.light > li > div.menu ul li {
  background: transparent;
  margin: 0;
  padding: 0;
}

ul.dept-navbar.light > li > div.menu ul li a {
  color: #666666;
  display: block;
  padding: 7px;
}

ul.dept-navbar.light > li > div.menu ul li a:hover {
  background: #00684d;

  background-image: -webkit-linear-gradient(rgba(255, 255, 255, 0.15), transparent);
  background-image: -moz-linear-gradient(rgba(255, 255, 255, 0.15), transparent);
  background-image: -o-linear-gradient(rgba(255, 255, 255, 0.15), transparent);
  background-image: -ms-linear-gradient(rgba(255, 255, 255, 0.15), transparent);
  background-image: linear-gradient(rgba(255, 255, 255, 0.15), transparent);
  color: white;
  text-decoration: none;
}

@media only screen and (max-width: 600px) {
  ul.dept-navbar.light > li:first-child > a {
  border-radius: 4px 4px 0 0;
}

ul.dept-navbar.light > li:last-child > a {
  border-radius: 0 0 4px 4px;
}

ul.dept-navbar.light > li > div.menu.wide {
  left: 0;
  right: 0;
}

}

ul.dept-navbar.dark {
  background: #666666;
  background-image: url('../images/bg-nav.png');

  background-image: -webkit-linear-gradient(transparent 10%, rgba(0, 0, 0, 0.3));
  background-image: -moz-linear-gradient(transparent 10%, rgba(0, 0, 0, 0.3));
  background-image: -o-linear-gradient(transparent 10%, rgba(0, 0, 0, 0.3));
  background-image: -ms-linear-gradient(transparent 10%, rgba(0, 0, 0, 0.3));
  background-image: linear-gradient(transparent 10%, rgba(0, 0, 0, 0.3));

  -webkit-box-shadow: 0 0 8px rgba(0, 0, 0, 0.3);
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.3);
  height: 40px;
}

ul.dept-navbar.dark > li {
  height: 40px;
}

ul.dept-navbar.dark > li > a {
  border-left-color: #777777;
  border-right-color: #333333;
  color: white;
  font-weight: normal;
  line-height: 20px;
  text-shadow: -1px -1px 1px rgba(0, 0, 0, 0.4);
}

ul.dept-navbar.dark > li:last-child > a:after,ul.dept-navbar.dark > li.last-child > a:after {
  border-left-color: #777777;
  height: 40px;
}

ul.dept-navbar.dark > li:hover > a,ul.dept-navbar.dark > li > a:hover {
  background-color: #444444;
  background-image: url('../images/bg-selected.png');

  background-image: -webkit-radial-gradient(center 120px, ellipse cover, rgba(255, 255, 255, 0.1) 40%, rgba(255, 255, 255, 0.08) 50%, transparent 80%);
  background-image: -moz-radial-gradient(center 120px, ellipse cover, rgba(255, 255, 255, 0.1) 40%, rgba(255, 255, 255, 0.08) 50%, transparent 80%);
  background-image: -o-radial-gradient(center 120px, ellipse cover, rgba(255, 255, 255, 0.1) 40%, rgba(255, 255, 255, 0.08) 50%, transparent 80%);
  background-image: -ms-radial-gradient(center 120px, ellipse cover, rgba(255, 255, 255, 0.1) 40%, rgba(255, 255, 255, 0.08) 50%, transparent 80%);
  background-image: radial-gradient(center 120px, ellipse cover, rgba(255, 255, 255, 0.1) 40%, rgba(255, 255, 255, 0.08) 50%, transparent 80%);

  -webkit-box-shadow: inset 0 2px 6px rgba(0, 0, 0, 0.3);
  box-shadow: inset 0 2px 6px rgba(0, 0, 0, 0.3);
}

ul.dept-navbar.dark > li > div.menu {
  border-color: #4d4d4d;
  border-width: 6px 4px 4px;
}

ul.dept-navbar.dark > li > div.menu ul li a {
  color: #666666;
}

ul.dept-navbar.dark > li > div.menu ul li a:hover {
  color: #333333;
}

@media only screen and (max-width: 600px) {
  ul.dept-navbar.dark {
  height: auto;
}

ul.dept-navbar.dark > li {
  height: auto;
}

ul.dept-navbar.dark > li > a {
  line-height: 30px;
}

ul.dept-navbar.dark > li > div.menu {
  border-width: 6px 1px 1px;
}

}

@media only screen and (max-width: 600px) {
  ul.dept-navbar {
  height: auto;
}

.flexbox-legacy ul.dept-navbar.full-width {
  display: block;
}

.flexbox-legacy ul.dept-navbar.full-width > li > a {
  padding-left: 16px;
}

ul.dept-navbar > li {
  float: none;
  height: auto;
}

ul.dept-navbar > li.menu-align-right {
  position: static;
}

ul.dept-navbar > li > a {
  border: 0;
  font-size: 16px;
  line-height: 30px;
  padding: 0 16px;
  text-align: left;
}

ul.dept-navbar > li:last-child > a:after,ul.dept-navbar > li.last-child > a:after {
  border: 0;
}

ul.dept-navbar > li > div.menu {
  border-width: 6px 1px 1px;

  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;

  -webkit-box-shadow: none;
  box-shadow: none;
  display: none;
  left: 0;
  position: relative;
  width: 100%;
}

ul.dept-navbar > li > div.menu.cols,ul.dept-navbar > li > div.menu.wide {
  width: 100%;
}

ul.dept-navbar > li > div.menu.cols .section,ul.dept-navbar > li > div.menu.wide .section {
  float: none;
  width: 100%;
}

ul.dept-navbar > li:hover .menu {
  display: block;
}

}
