ul.navbar {
  background: #eeeeee;
  font-size: 14px;
  min-height: 36px;
  list-style: none;
  margin: 0;
  padding: 0;
  position: relative;
}
.flexbox ul.navbar.full-width {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
.flexbox ul.navbar.full-width > li {
  -webkit-flex: 1 1 auto;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
}
.flexbox ul.navbar.full-width > li > a {
  padding-left: 0;
  padding-right: 0;
}
.flexbox ul.navbar.full-width > li:last-child > a {
  border-right: 0;
}
.flexbox ul.navbar.full-width > li:last-child > a:after {
  border-left: 0;
}
ul.navbar > li {
  float: left;
}
ul.navbar > li > a {
  border-left: 1px solid black;
  border-right: 1px solid black;
  cursor: pointer;
  display: block;
  font-weight: bold;
  line-height: 36px;
  padding: 0 16px;
  position: relative;
  text-align: center;
  text-decoration: none;
  -webkit-transition: all 200ms;
  transition: all 200ms;
  zoom: 1;
}
ul.navbar > li:first-child > a {
  border-left: 0;
}
ul.navbar > li:last-child > a:after,
ul.navbar > li.last-child > a:after {
  border-left: 1px solid black;
  content: "";
  height: 36px;
  position: absolute;
  right: -2px;
  top: 0;
}
ul.navbar > li:hover > a,
ul.navbar > li > a:hover {
  background-color: #444444;
  color: white;
  -webkit-transition: all 100ms;
  transition: all 100ms;
}
ul.navbar > li > div.menu {
  background: white;
  background: rgba(255, 255, 255, 0.97);
  border: 2px solid black;
  border-top-width: 6px;
  -webkit-box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.4);
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.4);
  font-size: 13px;
  min-width: 160px;
  opacity: 0;
  position: absolute;
  -webkit-transition: opacity 300ms linear, visibility 0 linear 300ms;
  transition: opacity 300ms linear, visibility 0 linear 300ms;
  visibility: hidden;
  z-index: 100;
}
ul.navbar > li > div.menu.cols .section {
  float: left;
  padding-left: 24px;
}
ul.navbar > li > div.menu.cols .section:first-child {
  padding-left: 0;
}
ul.navbar > li > div.menu.wide {
  border-width: 6px 1px 1px;
  left: 0;
  right: 0;
}
ul.navbar > li > div.menu.wide .section {
  float: left;
  margin: 0 2%;
  width: 29%;
}
ul.navbar > li > div.menu.wide .section.continued {
  padding-top: 28px;
}
ul.navbar > li > div.menu h2 {
  font-size: 17px;
  line-height: 20px;
  margin: 0 0 8px;
}
ul.navbar > li > div.menu ul {
  color: #777777;
  list-style: none;
  margin: 0;
  padding: 0;
}
ul.navbar > li > div.menu ul li {
  margin-bottom: 4px;
  position: relative;
}
ul.navbar > li > div.menu ul li > a {
  text-decoration: none;
}
ul.navbar > li > div.menu ul li > a:hover {
  text-decoration: underline;
}
ul.navbar > li > div.menu ul li.has-menu:after {
  color: #999999;
  content: "›";
  position: absolute;
  right: 10px;
}
ul.navbar > li > div.menu ul li.has-menu > ul {
  background: white;
  border: 1px solid black;
  display: none;
  left: 100%;
  min-width: 100px;
  position: absolute;
  top: 0;
}
ul.navbar > li > div.menu ul li.has-menu:hover > ul {
  display: block;
}
ul.navbar > li:hover > div.menu {
  opacity: 1;
  -webkit-transition: opacity 150ms linear;
  transition: opacity 150ms linear;
  visibility: visible;
}
ul.navbar > li.menu-align-right {
  position: relative;
}
ul.navbar > li.menu-align-right > div.menu {
  left: auto;
  right: 0;
}
@media only screen and (max-width: 630px) {
  ul.navbar > li.menu-align-right {
    position: static;
  }
  ul.navbar > li > div.menu {
    border-width: 0 1px;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-box-shadow: none;
    box-shadow: none;
    left: 0;
    max-height: 0;
    overflow: hidden;
    padding-top: 0;
    padding-bottom: 0;
    position: relative;
    -webkit-transition: all 0 500ms, max-height 500ms 0, padding-top 200ms 200ms, padding-bottom 200ms 200ms;
    transition: all 0 500ms, max-height 500ms 0, padding-top 200ms 200ms, padding-bottom 200ms 200ms;
    width: 100%;
  }
  ul.navbar > li > div.menu.cols,
  ul.navbar > li > div.menu.wide {
    border-width: 0 1px;
    width: 100%;
  }
  ul.navbar > li > div.menu.cols .section,
  ul.navbar > li > div.menu.wide .section {
    float: none;
    width: 100%;
  }
  ul.navbar > li:hover > div.menu {
    padding-top: 24px;
    padding-bottom: 24px;
    max-height: 1000px;
    -webkit-transition: max-height 1s, padding-top 200ms, padding-bottom 200ms;
    transition: max-height 1s, padding-top 200ms, padding-bottom 200ms;
  }
}
ul.navbar.green {
  background: #06765f url('../images/bg-nav.png') repeat-x 0 bottom;
  background-image: -webkit-linear-gradient(transparent 10%, rgba(0, 0, 0, 0.3));
  background-image: linear-gradient(transparent 10%, rgba(0, 0, 0, 0.3));
  border-radius: 8px;
  -webkit-box-shadow: 0 0 8px rgba(0, 0, 0, 0.3);
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.3);
}
.flexbox ul.navbar.green.full-width > li:last-child > a {
  border-radius: 0 8px 8px 0;
}
ul.navbar.green > li:first-child > a {
  border-radius: 8px 0 0 8px;
}
ul.navbar.green > li > a {
  border-left-color: #0b8b70;
  border-right-color: #033c30;
  color: white;
  text-shadow: -1px -1px 1px rgba(0, 0, 0, 0.4);
}
ul.navbar.green > li:last-child > a:after,
ul.navbar.green > li.last-child > a:after {
  border-left-color: #0b8b70;
}
ul.navbar.green > li:hover > a,
ul.navbar.green > li > a:hover {
  background-color: #044a3c;
  background-image: url('../images/bg-selected.png');
  background-image: -webkit-radial-gradient(center 120px, ellipse cover, rgba(255, 255, 255, 0.1) 40%, rgba(255, 255, 255, 0.08) 50%, transparent 80%);
  background-image: radial-gradient(center 120px, ellipse cover, rgba(255, 255, 255, 0.1) 40%, rgba(255, 255, 255, 0.08) 50%, transparent 80%);
  -webkit-box-shadow: inset 0 2px 6px rgba(0, 0, 0, 0.3);
  box-shadow: inset 0 2px 6px rgba(0, 0, 0, 0.3);
}
ul.navbar.green > li > div.menu {
  border-color: #044a3c;
}
ul.navbar.green > li > div.menu.wide {
  left: 8px;
  right: 8px;
}
ul.navbar.green > li > div.menu ul {
  list-style: square;
  padding-left: 18px;
}
ul.navbar.green > li > div.menu ul li a {
  color: #666666;
}
ul.navbar.green > li > div.menu ul li a:hover {
  color: #333333;
}
@media only screen and (max-width: 630px) {
  ul.navbar.green  > li:first-child > a {
    border-radius: 8px 8px 0 0;
  }
  ul.navbar.green  > li:last-child > a {
    border-radius: 0 0 8px 8px;
  }
  ul.navbar.green  > li > div.menu.wide {
    left: 0;
    right: 0;
  }
}
ul.navbar.light {
  background: #f6f6f6 url('../images/bg-nav.png') repeat-x 0 bottom;
  background-image: -webkit-linear-gradient(transparent 10%, rgba(0, 0, 0, 0.15));
  background-image: linear-gradient(transparent 10%, rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  -webkit-box-shadow: 0 0 4px rgba(0, 0, 0, 0.25);
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.25);
}
.flexbox ul.navbar.light.full-width > li:last-child > a {
  border-radius: 0 4px 4px 0;
}
ul.navbar.light > li:first-child > a {
  border-radius: 4px 0 0 4px;
}
ul.navbar.light > li > a {
  border-left-color: #fafafa;
  border-right-color: #bbbbbb;
  color: #00684d;
  text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.5);
}
ul.navbar.light > li:last-child > a:after,
ul.navbar.light > li.last-child > a:after {
  border-left-color: #fafafa;
}
ul.navbar.light > li:hover > a,
ul.navbar.light > li > a:hover {
  background-color: #888888;
  background-image: url('../images/bg-selected.png');
  background-image: -webkit-radial-gradient(center 120px, ellipse cover, rgba(255, 255, 255, 0.1) 40%, rgba(255, 255, 255, 0.08) 50%, transparent 80%);
  background-image: radial-gradient(center 120px, ellipse cover, rgba(255, 255, 255, 0.1) 40%, rgba(255, 255, 255, 0.08) 50%, transparent 80%);
  -webkit-box-shadow: inset 0 2px 6px rgba(0, 0, 0, 0.3);
  box-shadow: inset 0 2px 6px rgba(0, 0, 0, 0.3);
  color: white;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}
ul.navbar.light > li > div.menu {
  background: #e4e4e4;
  border-color: #bbbbbb;
  border-width: 2px 1px 1px;
  padding: 0;
}
ul.navbar.light > li > div.menu.wide {
  left: 4px;
  right: 4px;
}
ul.navbar.light > li > div.menu h2 {
  border-bottom: 1px solid #aaaaaa;
  margin: 7px;
  padding: 0;
}
ul.navbar.light > li > div.menu ul li {
  margin: 0;
  padding: 0;
}
ul.navbar.light > li > div.menu ul li a {
  color: #666666;
  display: block;
  padding: 7px;
}
ul.navbar.light > li > div.menu ul li:hover > a,
ul.navbar.light > li > div.menu ul li > a:hover {
  background: #00684d;
  background-image: -webkit-linear-gradient(rgba(255, 255, 255, 0.15), transparent);
  background-image: linear-gradient(rgba(255, 255, 255, 0.15), transparent);
  color: white;
  text-decoration: none;
}
ul.navbar.light > li > div.menu ul li.has-menu:after {
  font-size: 20px;
  top: 2px;
}
ul.navbar.light > li > div.menu ul li.has-menu > ul {
  background: #e4e4e4;
  border: 0;
  -webkit-box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
}
@media only screen and (max-width: 630px) {
  ul.navbar.light  > li:first-child > a {
    border-radius: 4px 4px 0 0;
  }
  ul.navbar.light  > li:last-child > a {
    border-radius: 0 0 4px 4px;
  }
  ul.navbar.light  > li > div.menu {
    border-top: 0;
    border-bottom: 0;
  }
  ul.navbar.light  > li > div.menu.wide {
    left: 0;
    right: 0;
  }
}
ul.navbar.dark {
  background: #666666 url('../images/bg-nav.png') repeat-x 0 bottom;
  background-image: -webkit-linear-gradient(transparent 10%, rgba(0, 0, 0, 0.3));
  background-image: linear-gradient(transparent 10%, rgba(0, 0, 0, 0.3));
  -webkit-box-shadow: 0 0 8px rgba(0, 0, 0, 0.3);
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.3);
  min-height: 40px;
}
ul.navbar.dark > li > a {
  border-left-color: #777777;
  border-right-color: #333333;
  color: white;
  font-weight: normal;
  line-height: 40px;
  text-shadow: -1px -1px 1px rgba(0, 0, 0, 0.4);
}
ul.navbar.dark > li:last-child > a:after,
ul.navbar.dark > li.last-child > a:after {
  border-left-color: #777777;
  min-height: 40px;
}
ul.navbar.dark > li:hover > a,
ul.navbar.dark > li > a:hover {
  background-color: #444444;
  background-image: url('../images/bg-selected.png');
  background-image: -webkit-radial-gradient(center 120px, ellipse cover, rgba(255, 255, 255, 0.1) 40%, rgba(255, 255, 255, 0.08) 50%, transparent 80%);
  background-image: radial-gradient(center 120px, ellipse cover, rgba(255, 255, 255, 0.1) 40%, rgba(255, 255, 255, 0.08) 50%, transparent 80%);
  -webkit-box-shadow: inset 0 2px 6px rgba(0, 0, 0, 0.3);
  box-shadow: inset 0 2px 6px rgba(0, 0, 0, 0.3);
}
ul.navbar.dark > li > div.menu {
  border-color: #4d4d4d;
  border-width: 6px 4px 4px;
  padding: 24px;
}
ul.navbar.dark > li > div.menu.wide {
  border-width: 6px 1px 1px;
}
ul.navbar.dark > li > div.menu ul {
  list-style: square;
  padding-left: 18px;
}
ul.navbar.dark > li > div.menu ul li a {
  color: #666666;
}
ul.navbar.dark > li > div.menu ul li a:hover {
  color: #333333;
}
@media only screen and (max-width: 630px) {
  ul.navbar.dark {
    height: auto;
  }
  ul.navbar.dark  > li > a {
    line-height: 40px;
  }
  ul.navbar.dark  > li > div.menu {
    border-width: 0 1px;
  }
  ul.navbar.dark  > li > div.menu.wide {
    border-width: 0 1px;
  }
}
@media only screen and (max-width: 630px) {
  .flexbox ul.navbar.full-width {
    display: block;
  }
  .flexbox ul.navbar.full-width > li > a {
    padding-left: 16px;
  }
  ul.navbar > li {
    float: none;
  }
  ul.navbar > li > a {
    border: 0;
    font-size: 16px;
    line-height: 40px;
    text-align: left;
  }
  ul.navbar > li:last-child > a:after,
  ul.navbar > li.last-child > a:after {
    border: 0;
  }
}
